input {
  height: 30px;
  width: 94%;
  border: none;
  border-radius: 12px;
  padding: 5px 0 0 50px;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
td {
  padding: 5px;
}
table {
  border-collapse: separate;
}
